// Account
.wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.body {
    margin-left: 12px;
    font-size: 1.6rem;
}
.check {
    margin-left: 6px;
    position: relative;
    top: 2px;
    color: rgb(32, 213, 236);
}
.title {
    color: rgb(22, 24, 35);
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 20px;
    margin-top: -2px;
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.description {
    color: rgba(22, 24, 35, 0.75);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 15px;
    max-width: 260px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
